* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 20px;
}
p,
button {
  font-size: 20px;
}
button {
  background-color: #3d91f5;
  color: #ffffff;
  border: none;
  margin: 10px 0 30px 0;
  padding: 5px 20px;
  outline: none;
  cursor: pointer;
}
#alert {
  width: 90%;
  text-align: center;
  background-color: #202020;
  color: #ffffff;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 20px;
  padding: 5px 0;
  display: none;
}
